<%= simple_form_for(@invoice, html: {class: 'form-inline'}) do |f| %>
  <%= f.error_notification %>

  <div>
    <fieldset>
      <div class="row">
        <div class="span3">
          <%= f.input :invoice_number %>
        </div>
        <div class="span3">
          <%= f.association :invoice_status, label: 'Status' %>
        </div>
        <div class="span6">
          <%= f.input :due_date, as: :string, input_html: { data: {behaviour: "datepicker"} } %>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Client details</legend>
      <%= f.input :client, as: :string %>
      <%= f.association :client, as: :hidden %>
      <div>
        <%= f.input :name, as: :hidden %>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.input :city %>
        </div>
        <div class="span3">
          <%= f.input :address %>
        </div>
        <div class="span6">
          <%= f.input :address2 %>
        </div>
      </div>
      <div class="row">
        <div class="span3">
          <%= f.input :county %>
        </div>
        <div class="span3">
          <%= f.input :country, as: :string %>
        </div>
        <div class="span6">
          <%= f.input :tax_number %>
        </div>
      </div>
    </fieldset>
  </div>

  <fieldset class="form-inline">
    <legend>Items</legend>
    <table class="table" id="items">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Tax rate</th>
          <th>Quantity</th>
          <th>Unit</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= f.simple_fields_for :invoice_items do |i| %>
          <%= render 'invoice_item_fields', f: i %>
        <% end %>
      </tbody>
    </table>
    <%= link_to_add_fields "Add item", f, :invoice_items %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </fieldset>
<% end %>
