<tr>
  <td>
    <%= f.text_field :name, placeholder: 'Name', class: 'input-small invoice-item-name' %>
  </td>
  <td class="span3">
    <%= f.text_field :description, placeholder: 'Description' %>
  </td>
  <td>
      <%= f.collection_select :tax_rate, TaxRate.all, :id, :name, {}, { class: 'input-small' } %>
  </td>
  <td>
      <%= f.text_field :quantity, placeholder: 'Quantity', class: 'input-small' %>
  </td>
  <td>
      <%= f.text_field :unit, placeholder: 'Unit', class: 'input-small' %>
  </td>
  <td>
      <%= f.text_field :price, placeholder: 'Price', class: 'input-small' %>
  </td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: "remove_fields btn btn-mini btn-danger" %>
  </td>
</tr>