<h1>Listing invoices</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Invoice number</th>
      <th>Due date</th>
      <th>Name</th>
      <th>Address</th>
      <th>Address2</th>
      <th>City</th>
      <th>County</th>
      <th>Country</th>
      <th>Tax number</th>
      <th>Invoice status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.client %></td>
        <td><%= invoice.invoice_number %></td>
        <td><%= invoice.due_date %></td>
        <td><%= invoice.name %></td>
        <td><%= invoice.address %></td>
        <td><%= invoice.address2 %></td>
        <td><%= invoice.city %></td>
        <td><%= invoice.county %></td>
        <td><%= invoice.country %></td>
        <td><%= invoice.tax_number %></td>
        <td><%= invoice.invoice_status %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
