<div class="container">
  <div class="row">
    <div class="span6">
      <h1><%= @invoice.user_address.business_name %></h1>
      <%== @address.join('<br />') %>
      <p>
        <strong>Bank details:</strong><br />
        <%== @invoice.user_address.bank_details.gsub("\n", "<br />") %>
      </p>
    </div>
    <div class="span3 offset3">
      <h1>Invoice <%= @invoice.invoice_number %></h1>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <strong>Bill to:</strong><br />
      <%== @bill_to.join('<br />') %>
    </div>
    <div class="span3 offset3">
      <table>
        <tr>
          <td><strong>Invoice Date:</strong></td>
          <td align="right"><%= @invoice.date %></td>
        </tr>
        <tr>
          <td><strong>Due Date:</strong></td>
          <td align="right"><%= @invoice.due_date %></td>
        </tr>
        <tr>
          <td><strong>Amount Due:</strong></td>
          <td align="right"><%= number_to_currency(@invoice.total, unit: "£") %></td>
        </tr>
      </table>
    </div>
  </div>

</div>