<div class="container">
  <div class="row">
    <div class="span6">
      <h1><%= @invoice.user_address.business_name %></h1>
      <%== @address.join('<br />') %>
      <p>
        <strong>Bank details:</strong><br />
        <%== @invoice.user_address.bank_details.gsub("\n", "<br />") %>
      </p>
    </div>
    <div class="span3 offset3">
      <h1>Invoice <%= @invoice.invoice_number %></h1>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <strong>Bill to:</strong><br />
      <%== @bill_to.join('<br />') %>
    </div>
    <div class="span3 offset3">
      <strong>Invoice Date:</strong><%= @invoice.date %><br />
      <strong>Due Date:</strong><%= @invoice.due_date %><br />
    </div>
  </div>

</div>