<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td>
          <%= link_to 'Addresses', client_addresses_path(client) %>
          <%= link_to 'Show', client %>
          <%= link_to 'Edit', edit_client_path(client) %>
          <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
