<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>Business name</th>
      <th>Address</th>
      <th>Address2</th>
      <th>City</th>
      <th>County</th>
      <th>Country</th>
      <th>Postcode</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.business_name %></td>
        <td><%= address.address %></td>
        <td><%= address.address2 %></td>
        <td><%= address.city %></td>
        <td><%= address.county %></td>
        <td><%= address.country %></td>
        <td><%= address.postcode %></td>
        <td>
          <%= link_to 'Show', resource_path(parent, address) %>
          <%= link_to 'Edit', edit_resource_path(parent, address) %>
          <%= link_to 'Destroy', resource_path(parent, address), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Address', new_resource_url(parent) %>
