<%= simple_form_for(@expense, multipart: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :date, as: :string, input_html: { data: {behaviour: "datepicker"}, value: @expense.date.to_s } %>
    <%= f.input :amount %>
    <%= f.input :note %>
    <%= f.input :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
