<!DOCTYPE html>
<html>
<head>
  <title>Invoicer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Invoicer</a>
      <div class="nav-collapse collapse">
        <%= render_navigation(expand_all: true) %>
        <div class="pull-right">
          <ul class="nav">
            <li><%= link_to(raw('<span class="icon icon-off icon-white"></span> Logout'), destroy_user_session_path, method: :delete) if user_signed_in? %></li>
          </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
